@model ExpensesMgmtWeb.Models.PurchasedProduct

@{
    ViewData["Title"] = "Create";
}

<div class="border my-2">
    <h6 class="mt-3 font-italic m-3">Enter the purchased product data:</h6>
</div>

<div class="container border py-2">
    <form asp-action="Create">
        <div class="form-row">
            <div class="form-group col-3 mr-2">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-3">
                <label asp-for="Price" class="col-form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-3 mr-2">
                <label asp-for="MeasureUnit" class="col-form-label"></label>
                <input asp-for="MeasureUnit" class="form-control" />
                <span asp-validation-for="MeasureUnit" class="text-danger"></span>
            </div>

            <div class="form-group col-3">
                <label asp-for="Quantity" class="col-form-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>

        <input asp-for="PurchaseId" class="form-control" value="@ViewBag.PurchaseId" />

        <div>
            @*<button type="button" onclick="window.location='@Url.Action("Index", "PurchasedProducts", new { id = @ViewBag.PurchaseId })'" class="btn bg-secondary text-white mr-2">Cancel</button>*@
            @*@Html.ActionLink("Cancel", "Index", "PurchasedProducts", new { id = @ViewBag.PurchaseId }, new { @class = "btn bg-info text-white mr-2" })*@
            <a asp-action="Index" asp-controller="PurchasedProducts" asp-route-id="@ViewBag.PurchaseId" class="btn bg-info text-white mr-2">Cancel</a>
            <button class="btn bg-info text-white">Create</button>
        </div>
    </form>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
